
body {
	margin:0;
	padding:0;
	background:#164f52;
	color:#dbefef;
	font-size:15px;
	font-weight:bold;
}

.label_relation_sub_map { 
	font-size:18px;
	width:100px; 
	height:40px; 
	line-height:40px; 
	margin-right:30px;
	/* color:#5befef;  */
}

.div_relation_sub_map { 
	font-size:15px;
	width:150px; 
	height:25px; 
	line-height:25px; 
	margin-left:0px;
	margin-right:0px;
	color:#dbefef; 
}

.input_relation_sub_map { 
	font-size:15px;
	width:200px; 
	height:25px; 
	line-height:25px; 
	margin-left:5px;
	margin-right:5px;
	color:#000000; 
}

.select_relation_sub_map { 
	font-size:15px;
	width:150px; 
	height:25px; 
	line-height:25px; 
	margin-left:15px;
	margin-right:5px;
	color:#000000; 
}